
@keyframes colorchange {
    // from: black;
    0% { background-color: black; }
    25% { background-color: red; }
    50% { background-color: green; }
    75% { background-color: blue; }
    // to: black;
    100% { background-color: black; }
}

.colorchange {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    animation: colorchange 5s linear infinite;
}

@keyframes bounce {
    // The ball starts at the top of the container
    0%  { bottom: 300px; }
    // The ball begins to move to the bottom of the container
    25%  { bottom: 0; height: 100px; }
    // The ball shortens to give the impression of compresson
    30%  { bottom: 0; height: 50px; }
    // The ball heightens to normal size
    35%  { bottom: 0; height: 100px; }
    // The ball begins to move back to top of container
    75%  { bottom: 300px; }
    // End animation with ball at top of container
    100%  { bottom: 300px; }
}

.ball-container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    position: relative;

    .ball {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background: tomato;
        animation: bounce 3s linear infinite;
    }
}
