nav.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    border-bottom: 1px solid #ccc;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            &.brand {
                float: left;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
            }
            a {
                display: block;
                min-width: 140px;
                min-height: 50px;
                max-height: 50px;
                text-align: center;
                line-height: 50px;
                font-family: $sans-serif;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    @media screen and (max-width: $breakpoint-tablet) {
        & {

        }
    }
}
