<h1 class="text-center"> Filter </h1>

<p>
    The CSS filter property provides for effects like blurring or color
    shifting on an element’s rendering before the element is displayed. Filters
    are commonly used to adjust the rendering of an image, a background, or a
    border.
</p>
<p>
    You are not limited to only using one filter and can combine filters together
    to get the desired look you are after.
</p>

<div class="filter-image-container">
    <img src="/images/guitar.jpg" />
</div>
<br>
<br>
<ul class="list-group filter-options">
    <li class="list-group-item">
        <h3>url()</h3>
        <p>
            The url() function takes the location of an XML file that specifies
            an SVG filter, and may include an anchor to a specific filter element.
        </p>
        <pre>
            <code class="language-css">
                filter: url(resources.svg#c1);
            </code>
        </pre>
    </li>
    <li class="list-group-item">
        <h3>blur()</h3>
        <p>Applies a Gaussian blur to the input image. The value of ‘radius’ defines the value of the standard deviation to the Gaussian function, or how many pixels on the screen blend into each other, so a larger value will create more blur. If no parameter is provided, then a value 0 is used. The parameter is specified as a CSS length, but does not accept percentage values.</p>
        <pre>
            <code class="language-css">
                filter: blur(5px);
            </code>
        </pre>
    </li>
    <li class="list-group-item">
        <h3>brightness()</h3>
        <p>Applies a linear multiplier to input image, making it appear more or less bright. A value of 0% will create an image that is completely black. A value of 100% leaves the input unchanged. Other values are linear multipliers on the effect. Values of an amount over 100% are allowed, providing brighter results. If the ‘amount’ parameter is missing, a value of 1 is used.</p>
        <pre>
            <code class="language-css">
                filter: brigthness(0.5)
            </code>
        </pre>
    </li>
    <li class="list-group-item">
        <h3>contrast()</h3>
        <p>
            Adjusts the contrast of the input. A value of 0% will create an image
            that is completely black. A value of 100% leaves the input unchanged.
            Values of amount over 100% are allowed, providing results with less contrast.
            If the ‘amount’ parameter is missing, a value of 1 is used.
        </p>
        <pre>
            <code class="language-css">
                filter: contrast(200%);
            </code>
        </pre>
    </li>
    <li class="list-group-item">
        <h3>drop-shadow()</h3>
        <p>
            Applies a drop shadow effect to the input image. A drop shadow is
            effectively a blurred, offset version of the input image's alpha
            mask drawn in a particular color, composited below the image.
        </p>
        <pre>
            <code class="language-css">
                // drop-shadow(x, y, blur, spread, color);
                filter: drop-shadow(15px 15px 10px black);
            </code>
        </pre>
    </li>
    <li class="list-group-item">
        <h3>grayscale()</h3>
        <p>
            Converts the input image to grayscale. The value of ‘amount’ defines
            the proportion of the conversion. A value of 100% is completely
            grayscale. A value of 0% leaves the input unchanged. Values between
            0% and 100% are linear multipliers on the effect. If the ‘amount’
            parameter is missing, a value of 0 is used.
        </p>
        <pre>
            <code class="language-css">
                filter: grayscale(100%);
            </code>
        </pre>
    </li>
    <li class="list-group-item">
        <h3>invert()</h3>
        <p>
            Inverts the samples in the input image. The value of ‘amount’ defines
            the proportion of the conversion. A value of 100% is completely
            inverted. A value of 0% leaves the input unchanged. Values between
            0% and 100% are linear multipliers on the effect. If the ‘amount’
            parameter is missing, a value of 0 is used.
        </p>
        <pre>
            <code class="language-css">
                filter: invert(100%);
            </code>
        </pre>
    </li>
    <li class="list-group-item">
        <h3>opacity()</h3>
        <p>
            Applies transparency to the samples in the input image. The value of
            ‘amount’ defines the proportion of the conversion. A value of 0% is
            completely transparent. A value of 100% leaves the input unchanged.
            Values between 0% and 100% are linear multipliers on the effect.
            This is equivalent to multiplying the input image samples by amount.
            If the ‘amount’ parameter is missing, a value of 1 is used. This
            function is similar to the more established opacity property; the
            difference is that with filters, some browsers provide hardware
            acceleration for better performance.
        </p>
        <pre>
            <code class="language-css">
                filter: opacity(50%);
            </code>
        </pre>
    </li>
</ul>
