<div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h2 class="text-center"> Lessons </h2>

    <ul class="list-group text-center">
        <li class="list-group-item">
            <a href="#/flexbox">
                <h3>Flex</h3>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/selectors">
                <h3>Selectors</h3>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/transform">
                <h3>Transform</h3>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/transition">
                <h3>Transition</h3>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/keyframes">
                <h3>Keyframes</h3>
            </a>
        </li>
    </ul>
</div>
