<h1 class="text-center"> Responsive Design </h1>

<h3>Avoid ":hover"</h3>
<p>
    Due to the increasing usage of the web through mobile browsers on touch
    devices, having styles that only work on mouse hover will leave you having
    to develop ever more styles to compensate for when there is no mouse to do
    the hovering. For this reason, many developers are opting to design without
    :hover altogether. This may seem like a horrible thing and is encrouching on
    your ability to create, but you should see it as a challenge, a necessary one
    that will help increase usability in your application.
</p>

<h3>Avoid "px"</h3>
<p>
    Using *px values has, since the beginnin of responsive web design, been seen
    as being too rigid. More and more developers and designers are instead using
    `rem`, `em`, and `%` values to express sizes because they are "flexible"
    units of measurement.
</p>
