<section class="selectors">

    <h2 class="text-center"> Selectors </h2>

    <section>
        <h2> :nth-child(odd)</h2>

        <pre>
        <code class="language-css">
            ul.nth-odd {
                li:nth-child(odd) {
                    background-color: tomato;
                }
            }
        </code>
        </pre>

        <ul class="nth-odd list-group">
            <li class="list-group-item"> First</li>
            <li class="list-group-item"> Second</li>
            <li class="list-group-item"> Third</li>
            <li class="list-group-item"> Fourth</li>
        </ul>
    </section>

    <section>
        <h2> :nth-child(even)</h2>

        <pre>
        <code class="language-css">
            ul.nth-even {
                li:nth-child(even) {
                    background-color: tomato;
                }
            }
        </code>
        </pre>

        <ul class="nth-even list-group">
            <li class="list-group-item"> First </li>
            <li class="list-group-item"> Second </li>
            <li class="list-group-item"> Third </li>
            <li class="list-group-item"> Fourth </li>
        </ul>
    </section>

</section>
