<h1 class="text-center"> Specificity </h1>

<p>
    Specificity has long been a point of contention in the world of CSS
    development. It causes issues when determining the appropriate methodology
    when writing styles, while also causing issues when debugging styles in the
    browser.
</p>

<p>
    You will no doubt find yourself at some point saying, "I don't understand. I
    totally styled that element! Why aren't my styles showing up!?", only to
    realise that your styles were being overridden by a more specific rule.
</p>

<h2> Tips for dealing with specificity</h2>
<dl>
    <dt>Never use IDs in CSS, ever.</dt>
    <dd>
        They have no advantage over classes (anything you can do with an ID, you
        can do with a class), they cannot be reused, and their specificity is way,
        way too high. Even an infinite number of chained classes will not trump
        the specificity of one ID.
    </dd>
    <br/>
    <dt>
        Do not nest selectors unnecessarily.
    </dt>
    <dd>
        If .header-nav {} will work, never use .header .header-nav {}; to do so
        will literally double the specificity of the selector without any benefit.
    </dd>
    <br/>
    <dt>
        Do not qualify selectors unless you have a compelling reason to do so.
    </dt>
    <dd>
        If .nav {} will work, do not use ul.nav {}; to do so would not only limit
        the places you can use the .nav class, but it also increases the specificity
        of the selector, again, with no real gain.
    </dd>
    <br/>
    <dt>
        Make heavy use of classes
    </dt>
    <dd>
        Classes are the ideal selector: low specificity (or rather, all classes
        have the same specificity, so you have a level playing field), great
        portability, and high reusability.
    </dd>
</dl>
