<div class="transform">
    <h2 class="text-center"> Transform </h2>

    <p class="text-center">
        The CSS transform property lets you modify the coordinate space of the
        CSS visual formatting model. Using it, elements can be translated,
        rotated, scaled, and skewed according to the values set.
    </p>

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="outerbox">
        <div class="innerbox"></div>
    </div>

    <br/>
    <pre class="col-xs-12 col-sm-10 col-sm-offset-1">
        <code class="language-css" prism>
            .transform {
                width: 100%;

                .outerbox {
                    height: 400px;
                    width: 80%;
                    margin: 0 auto;
                    background-color: aliceblue;
                }

                .innerbox {
                    height: 50%;
                    width: 30%;
                    background-color: tomato;
                    transform: rotate(30deg);
                }
            }
        </code>
    </pre>

    <article id="transform-options">
        <h3>Options</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <h4>scale</h4>
                <p>
                    Enlarges an element on its X and Y axis.
                </p>
                <pre>
                    <code class="language-css" prism>
                        transform: scale(2,3)
                    </code>
                </pre>
            </li>
            <li class="list-group-item">
                <h4>scaleX</h4>
                <p>
                    Enlarges an element alone its X axis.
                </p>
                <pre>
                    <code class="language-css" prism>
                        transform: scaleX(3)
                    </code>
                </pre>
            </li>
            <li class="list-group-item">
                <h4>scaleY</h4>
                <p>
                    Enlarges an element alone its X axis.
                </p>
                <pre>
                    <code class="language-css" prism>
                        transform: scaleY(3)
                    </code>
                </pre>
            </li>
            <li class="list-group-item">
                <h4>skewX</h4>
                <p>
                    Skews the element along the X axis by the given angle.
                </p>
                <pre>
                    <code class="language-css" prism>
                        transform: skewX(-30deg)
                    </code>
                </pre>
            </li>
            <li class="list-group-item">
                <h4>skewY</h4>
                <p>
                    Skews the element along the Y axis by the given angle.
                </p>
                <pre>
                    <code class="language-css" prism>
                        transform: skewY(-30deg)
                    </code>
                </pre>
            </li>
        </ul>
    </article>

</div>
