<div class="transform">
    <h2 class="text-center"> Transform </h2>

    <div class="outerbox">
        <div class="innerbox"></div>
    </div>
    <br/>
    <pre class="col-xs-12 col-sm-10 col-sm-offset-1">
        <code>
            .transform {
                width: 100%;

                .outerbox {
                    height: 400px;
                    width: 80%;
                    margin: 0 auto;
                    background-color: aliceblue;
                }

                .innerbox {
                    height: 50%;
                    width: 30%;
                    background-color: tomato;
                    transform: rotate(30deg);
                }

            }
        </code>
    </pre>

</div>
