<div class="transform">
    <h2 class="text-center"> Transform </h2>

    <p class="text-center">
        The CSS transform property lets you modify the coordinate space of the
        CSS visual formatting model. Using it, elements can be translated,
        rotated, scaled, and skewed according to the values set.
    </p>

    <br/>
    <br/>
    <br/>
    <br/>

    <x-transformer></x-transformer>

    <br/>

    <prism language='scss'>
        .transform {
            width: 100%;

            .outerbox {
                height: 400px;
                width: 80%;
                margin: 0 auto;
                background-color: aliceblue;
            }

            .innerbox {
                height: 50%;
                width: 30%;
                background-color: tomato;
                transform: rotate(30deg);
            }
        }
    </prism>

    <h3 class="text-center">Options</h3>
    <x-list-group>
        <x-list-item>
            <h4>scale</h4>
            <p>
                Enlarges an element on its X and Y axis.
            </p>
            <prism language='css'>
                transform: scale(2,3)
            </prism>
        </x-list-item>
        <x-list-item>
            <h4>scaleX</h4>
            <p>
                Enlarges an element alone its X axis.
            </p>
            <prism language='css'>
                transform: scaleX(3)
            </prism>
        </x-list-item>
        <x-list-item>
            <h4>scaleY</h4>
            <p>
                Enlarges an element alone its X axis.
            </p>
            <prism language='css'>
                transform: scaleY(3)
            </prism>
        </x-list-item>
        <x-list-item>
            <h4>skewX</h4>
            <p>
                Skews the element along the X axis by the given angle.
            </p>
            <prism language='css'>
                transform: skewX(-30deg)
            </prism>
        </x-list-item>
        <x-list-item>
            <h4>skewY</h4>
            <p>
                Skews the element along the Y axis by the given angle.
            </p>
            <prism language='css'>
                transform: skewY(-30deg)
            </pre>
        </x-list-item>
    </x-list-group>

</div>

