.filter-image-container {
    height: 300px;
    width: 70%;
    margin: 0 auto;

    img {
        height: 100%;
        width: 100%;
    }

}


.filter-grayscale {
    @include filter(grayscale, "200%");
}

.filter-blur {
    @include filter(blur, "200%");
}

.filter-contrast {
    @include filter(contrast,"200%");
}
